@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body,
html {
  /* color: #666; */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  overflow-x: hidden;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 15px;
  list-style: square outside none;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
2. Default Style
----------------------------------------------------------------*/
.st-hero-text.st-style1 h1 {
  width: auto;
}

.st-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.st-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  padding-top: 1px;
  margin-top: -1px;
}

.row {
  margin-top: -30px;
}

.row > [class*="col-"] {
  margin-top: 30px;
}

/*Owl Controller*/
button:focus {
  outline: none;
}

/*Style1*/
.st-style1,
.st-style2 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -30px;
  margin-bottom: -30px;
}

.st-style2 {
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 15px;
}

.owl-dots,
.st-owl-controler3 .owl-dots,
.st-client-carousel .owl-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.st-client-carousel .owl-dots {
  display: none !important;
}

.owl-dots button,
.st-owl-controler3 .owl-dots button,
.st-client-carousel .owl-dots button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffc4b9;
  margin: 0 5px;
}

.owl-dots button:focus,
.st-owl-controler3 .owl-dots button:focus,
.st-client-carousel .owl-dots button:focus {
  outline: none;
}

.owl-dots button.active,
.st-owl-controler3 .owl-dots button.active,
.st-client-carousel .owl-dots button.active {
  background-color: #6262a0;
}

/*Style 2*/
.st-owl-controler2 {
  max-width: 1140px;
  padding: 0 15px;
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 45px;
}

.st-owl-controler2 .owl-prev i,
.st-owl-controler2 .owl-next i {
  font-size: 12px;
}

.st-owl-controler2 .owl-prev,
.st-owl-controler2 .owl-next {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.st-owl-controler2 .owl-prev:hover,
.st-owl-controler2 .owl-next:hover {
  color: #ff8a73;
}

.st-owl-controler2 .owl-prev i {
  margin-right: 10px;
}

.st-owl-controler2 .owl-next i {
  margin-left: 10px;
}

.st-owl-controler2 .owl-prev {
  margin-right: 30px;
}

/*End Owl Controller*/
/*--------------------------------------------------------------
3. Button Style
----------------------------------------------------------------*/
/* Button Group */
.st-btn-group.st-style1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

.st-btn-group.st-style1 .st-btn {
  margin: 0 10px;
  margin-bottom: 10px;
}

/* Button Type */
.st-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.st-btn:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.st-btn i {
  margin-right: 10px;
}

.st-btn.st-style2 i {
  font-size: 46px;
  color: #5257a6;
  background-color: rgba(82, 87, 166, 0.15);
  border-radius: 50%;
  position: relative;
  font-weight: initial;
}

.st-btn.st-style1 {
  padding: 0.8em 2.6em;
  font-weight: 500;
  border-radius: 1.8em;
  font-size: 15px;
}

.st-btn.st-style1.st-size1 {
  padding: 0.6em 2.2em;
}

.st-btn.st-style1:focus {
  outline: none;
}

.st-btn.st-style2 {
  font-weight: 500;
  font-size: 15px;
}

.st-btn.st-style2:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.alert-danger {
  margin-bottom: 10px;
}

/* Button Color */
.st-btn.st-color1 {
  color: #fff;
  background-color: #5257a6;
}

.st-btn.st-color1:hover {
  background-color: #ff8a73;
}

.st-btn.st-color2 {
  color: #fff;
  background-color: #ff8a73;
}

.st-btn.st-color2:hover {
  background-color: #5257a6;
}

/*=== Menu Responsive Style ===*/
@media screen and (max-width: 991px) {
  .st-header .container {
    max-width: 100%;
  }

  .st-header.st-style2 .st-main-header-in {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/*End Menu Responsive*/

/*--------------------------------------------------------------
5. Hero Style
----------------------------------------------------------------*/
.st-hero-slide.st-style1 {
  height: 820px;
  background-color: #f9fbff;
  position: relative;
  overflow: hidden;
}

.st-hero-slide.st-style1.st-type2 {
  padding-bottom: 70px;
}

.st-hero-slide.st-style1 .container,
.st-hero-slide.st-style2 .container {
  margin: 0;
  position: relative;
  z-index: 2;
}

.st-hero-slide.st-style1 .container {
  z-index: 2;
}

.st-hero-slide.st-style1 .st-hero-img,
.st-hero-slide.st-style2 .st-hero-img {
  position: absolute;
  left: 62.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.st-hero-slide.st-style1 .st-hero-img img,
.st-hero-slide.st-style2 .st-hero-img img {
  -webkit-animation: 1.7s infinite alternate imageUpAnimation;
  animation: 1.7s infinite alternate imageUpAnimation;
}

.st-hero-text.st-style1 h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.st-hero-text.st-style1 h1 span {
  color: #ff8a73;
}

.st-hero-text.st-style1 b,
.st-hero-text.st-style1 i {
  font-weight: inherit;
  font-style: initial;
}

.st-hero-text.st-style1 .st-hero-subtitle {
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 40px;
  font-weight: 300;
}

.st-hero-text.st-style1 {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  z-index: 1;
}

.st-adjust-middle .st-hero-text.st-style1 {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  padding-top: 85px;
  z-index: 1;
}

.st-hero-slider1 .st-hero-text.st-style1 {
  position: relative;
  top: -100px;
  opacity: 0;
}

.st-hero-slider1 .active .st-hero-text.st-style1 {
  top: 0px;
  opacity: 1;
}

.st-hero-slide.st-style1 .st-hero-img,
.st-hero-slide.st-style2 .st-hero-img {
  top: 54%;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.st-hero-slider1 .st-hero-slide.st-style1 .st-hero-img {
  top: 65%;
  opacity: 0;
}

.st-hero-slider1 .active .st-hero-slide.st-style1 .st-hero-img {
  top: 50%;
  opacity: 1;
}

.st-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.st-pattern-animation-wrap {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 480px;
}

.st-pattern-animation {
  -webkit-animation: paternAnimation 5s alternate infinite linear;
  animation: paternAnimation 5s alternate infinite linear;
}

.st-hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
}

.st-overflow-hidden {
  overflow: hidden;
}

@-webkit-keyframes paternAnimation {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }

  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 4);
    transform: matrix(1, 0, 0, 1, -5, 4);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -9, 9);
    transform: matrix(1, 0, 0, 1, -9, 9);
  }

  75% {
    -webkit-transform: matrix(1, 0, 0, 1, 5, -4);
    transform: matrix(1, 0, 0, 1, 5, -4);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }
}

@keyframes paternAnimation {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }

  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 4);
    transform: matrix(1, 0, 0, 1, -5, 4);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -9, 9);
    transform: matrix(1, 0, 0, 1, -9, 9);
  }

  75% {
    -webkit-transform: matrix(1, 0, 0, 1, 5, -4);
    transform: matrix(1, 0, 0, 1, 5, -4);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }
}

.st-hero-slide.st-style2 {
  height: 800px;
  background-color: #2a58ff;
  position: relative;
}

.st-hero-slide.st-style2.st-type1 {
  height: 100vh;
  background-color: #2a58ff;
  position: relative;
  border-radius: 0 0 100% 0;
  width: calc(100% - 120px);
  border: 40px solid #edf1fa;
  border-left: none;
  border-top: none;
  padding-left: 150px;
}

.st-hero-slide.st-style2.st-type3 {
  height: 100vh;
  background-color: #666;
  position: relative;
  border-radius: 0 0 100% 0;
  border: 40px solid #edf1fa;
  border-left: none;
  border-top: none;
  padding-left: 33px;
  width: calc(100% + 15px);
}

.st-hero-slide.st-style2.st-type1 .st-hero-img {
  width: 800px;
  left: 61%;
  z-index: 1;
}

.st-hero-slide.st-style2.st-type1 .st-hero-img img {
  -webkit-animation: none;
  animation: none;
  width: 100%;
}

.st-hero-slide.st-style2 .st-hero-text.st-style1 h1 {
  color: #fff;
}

.st-hero-slide.st-style2 .st-hero-text.st-style1 .st-hero-subtitle {
  color: rgba(255, 255, 255, 0.8);
}

.st-hero-slide.st-style2.st-type2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: initial;
  margin-bottom: 60px;
  border-radius: 0 0 100% 100%;
  border-bottom: 40px solid #edf1fa;
  width: 110%;
  margin-left: -5%;
}

.st-hero-slide.st-style2.st-type2 .st-hero-text.st-style1 {
  padding-top: 110px;
  padding-bottom: 80px;
}

.st-hero-img2 {
  position: relative;
  margin-bottom: -110px;
}

.st-hero-slide.st-style2.st-type2 .st-wave-wrap {
  margin-bottom: -50px;
}

/*--------------------------------------------------------------
7. Section Heading
----------------------------------------------------------------*/
.st-section-heading.st-style1 {
  margin-bottom: 14px;
}

.st-about-text {
  font-size: 16px;
  line-height: 1.6em;
}

.st-section-heading.st-style1 h3 {
  font-size: 16px;
  color: #666;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: -3px;
}

.st-section-heading.st-style1 h2 {
  font-size: 42px;
  margin-bottom: 0;
}

.st-seperator {
  width: 172px;
  margin: auto;
  position: relative;
  margin-bottom: 9px;
  line-height: 10px;
  margin-top: 4px;
}

.st-seperator-left-bar,
.st-seperator-right-bar {
  position: absolute;
  height: 1px;
  width: 70px;
  background: #b5b5b5;
  top: 52%;
}

.st-seperator-left-bar {
  left: 0;
}

.st-seperator-right-bar {
  right: 0;
}

.st-section-heading.st-style2 {
  margin-bottom: 60px;
}

.st-section-heading.st-style2 h2 {
  font-size: 42px;
  margin-bottom: 0;
  padding-bottom: 4px;
  margin-top: -7px;
}

.st-section-heading.st-style2 p {
  margin-bottom: 0;
  padding-top: 0;
  font-size: 18px;
  line-height: 1.6em;
  margin-top: 0;
}

.st-section-heading.st-style1.st-type1 {
  border-bottom: 1px solid #d0d0e2;
  margin-bottom: 14px;
  padding-bottom: 10px;
}

.st-section-heading.st-style2.st-type2 h2 {
  padding-bottom: 14px;
}

.st-section-heading.st-style2.st-type2 {
  margin-bottom: 28px;
}

.st-seperator-icon {
  -webkit-animation: spin-animaiton 6s linear infinite;
  animation: spin-animaiton 6s linear infinite;
}

@-webkit-keyframes spin-animaiton {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(0deg);
    transform: rotateY(-20deg) rotateX(0deg);
  }

  75% {
    -webkit-transform: rotateY(-20deg) rotateX(360deg);
    transform: rotateY(-20deg) rotateX(360deg);
  }

  100% {
    -webkit-transform: rotateY(-20deg) rotateX(360deg);
    transform: rotateY(-20deg) rotateX(360deg);
  }
}

.st-content {
  background-color: #fff;
  z-index: 10;
  position: relative;
}

/*--------------------------------------------------------------
20. Site Footer
----------------------------------------------------------------*/

.st-main-footer {
  padding: 60px 0;
}

.st-sticky-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.st-footer-social {
  margin-top: 13px;
}

.st-footer-social-btn {
  font-size: 14px;
}

.st-footer-social-btn li {
  margin: 0 10px;
}

.st-footer-social-btn li a {
  display: flex;
}

.st-footer-social-btn li a {
  display: flex;
  color: #b5b5b5;
}

.st-footer-social-btn a:hover {
  color: #ff8a73;
}

.st-copyright-text {
  border-top: 1px solid rgba(208, 208, 226, 0.6);
  padding: 19px 15px;
}

.st-footer-logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 1600px) {
  .st-hero-slide.st-style2.st-type1 {
    width: 100%;
    padding-left: 40px;
  }

  .st-hero-slide.st-style2.st-type1 .st-hero-img {
    width: 600px;
    left: 58%;
  }
}

@media screen and (max-width: 1199px) {
  .st-owl-controler2 {
    max-width: 960px;
  }

  .st-hero-slide.st-style2.st-type1 {
    height: initial;
    padding-top: 150px;
    text-align: center;
  }

  .st-hero-slide.st-style2.st-type1 .st-btn-group.st-style1 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .st-hero-slide.st-style2.st-type1 .st-hero-img {
    position: relative;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    left: 0;
    top: 0;
    width: 100%;
    /* max-width: 800px; */
    margin-top: 50px;
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .st-owl-controler2 {
    max-width: 720px;
  }

  .st-hero-text.st-style1 h1 {
    font-size: 42px;
  }

  .st-hero-text.st-style1 .st-hero-subtitle {
    font-size: 18px;
  }

  .st-btn.st-style1 {
    padding: 0.8em 2.4em;
  }

  .st-btn.st-style2 i {
    font-size: 42px;
  }

  .st-hero-slide.st-style1 {
    height: 600px;
  }

  .st-owl-controler2 {
    bottom: 20px;
  }

  .st-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .st-cta-img {
    display: none;
  }

  .st-section-heading.st-style2 {
    margin-bottom: 40px;
  }

  .st-contact-info-in {
    max-width: 400px;
  }

  .st-section-heading.st-style2 p br {
    display: none;
  }

  .st-contact-form input,
  .st-contact-form textarea {
    max-width: 100%;
  }

  .st-owl-controler3 {
    display: none !important;
  }

  .st-owl-controler3 .owl-dots,
  .st-client-carousel .owl-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .st-owl-controler3.st-service-carousel .owl-dots {
    margin-top: 15px;
  }

  .st-hero-slide.st-style2.st-type1 {
    border-right-width: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .st-owl-controler2 {
    max-width: 540px;
  }

  .st-right-newsletter {
    display: none;
  }

  .st-footer-social-btn li {
    margin: 0 10px;
  }

  .st-iconbox-wrap.st-style1 {
    margin-top: 80px;
  }

  .st-hero-slide.st-style1.st-type2 {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .st-hero-text.st-style1 br {
    display: none;
  }

  .st-hero-img {
    display: none;
  }

  .st-service-background-shap {
    display: none;
  }

  .st-svg-animation1 {
    display: none;
  }

  .st-contact-info.st-style1 {
    padding: 0;
    min-height: initial;
  }

  .st-hero-slide.st-style2 {
    height: 620px;
  }

  .st-wave-wrap {
    display: none;
  }

  .st-hero-slide.st-style2.st-type1 {
    border: 0;
    padding-left: 0;
    border-radius: 0;
    padding-bottom: 80px;
  }

  .st-full-width .container {
    padding: 0 15px;
  }
}

/*Start Preloader*/
#st-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-size: cover;
  height: 100%;
  z-index: 9999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.st-preloader-wave {
  display: inline-block;
  width: 8px;
  height: 40px;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: preloaderAnimation 633ms alternate infinite
    cubic-bezier(0.2, 0, 0.5, 1);
  animation: preloaderAnimation 633ms alternate infinite
    cubic-bezier(0.2, 0, 0.5, 1);
}

.st-preloader-wave:nth-of-type(1) {
  -webkit-animation-delay: 111ms;
  animation-delay: 111ms;
  background: #ff8a73;
  border-radius: 3px 0 0 3px;
}

.st-preloader-wave:nth-of-type(2) {
  -webkit-animation-delay: 222ms;
  animation-delay: 222ms;
  background: #ff8a73;
  opacity: 0.9;
}

.st-preloader-wave:nth-of-type(3) {
  -webkit-animation-delay: 333ms;
  animation-delay: 333ms;
  background: #ff8a73;
  opacity: 0.8;
}

.st-preloader-wave:nth-of-type(4) {
  -webkit-animation-delay: 444ms;
  animation-delay: 444ms;
  background: #ff8a73;
  opacity: 0.7;
}

.st-preloader-wave:nth-of-type(5) {
  -webkit-animation-delay: 555ms;
  animation-delay: 555ms;
  background: #ff8a73;
  border-radius: 0 3px 3px 0;
  opacity: 0.6;
}

.st-blue-color .st-preloader-wave:nth-of-type(1),
.st-blue-color .st-preloader-wave:nth-of-type(2),
.st-blue-color .st-preloader-wave:nth-of-type(3),
.st-blue-color .st-preloader-wave:nth-of-type(4),
.st-blue-color .st-preloader-wave:nth-of-type(5) {
  background: #2a58ff;
}

/*Preloader Animaiton*/
@-webkit-keyframes preloaderAnimation {
  to {
    -ms-transform: translateY(12px);
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@keyframes preloaderAnimation {
  to {
    -ms-transform: translateY(12px);
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

/*End Preloader*/
/*--------------------------------------------------------------
26. Blue Color CSS
----------------------------------------------------------------*/

.st-blue-color a:hover {
  color: #2a58ff;
}

.st-blue-color hr {
  border-color: #eaeaea;
}

.st-blue-color h1,
.st-blue-color h2,
.st-blue-color h3,
.st-blue-color h3 {
  color: #111;
}

.st-blue-color .st-btn.st-style2,
.st-blue-color .st-btn.st-style2 i {
  color: #fff;
}

.st-blue-color .st-btn.st-color1 {
  color: #111;
  background-color: #fff;
}

.st-blue-color .st-funfact-icon,
.st-blue-color .st-map-bar-icon,
.st-blue-color .st-iconbox.st-style1:hover .st-iconbox-title,
.st-blue-color .st-blog.st-style1 .st-blog-btn {
  color: #111;
}

.st-blue-color .st-funfact-title,
.st-blue-color .st-owl-controler3 .owl-prev,
.st-blue-color .st-owl-controler3 .owl-next,
.st-blue-color .st-owl-controler4 .owl-prev,
.st-blue-color .st-owl-controler4 .owl-next {
  color: #666;
}

.st-blue-color .st-map-marker i,
.st-blue-color .st-featured-price .st-price h3,
.st-blue-color .st-owl-controler3 .owl-prev:hover,
.st-blue-color .st-owl-controler3 .owl-next:hover,
.st-blue-color .st-owl-controler4 .owl-prev:hover,
.st-blue-color .st-owl-controler4 .owl-next:hover,
.st-blue-color .st-team-member:hover .st-member-name,
.st-blue-color .st-progressbar-percentage,
.st-blue-color .st-funfact-number,
.st-blue-color .st-iconbox.st-style1:hover .st-iconbox-icon,
.st-blue-color .st-iconbox.st-style1 .st-iconbox-icon,
.st-blue-color .st-member-social-btn li a:hover,
.st-blue-color .st-blog.st-style1 .st-blog-btn:hover {
  color: #2a58ff;
}

.st-blue-color .tr-list li:after {
  background: #666;
}

.st-blue-color .tr-list li:before,
.st-blue-color .tr-list li:after {
  border-color: #666;
}

.st-blue-color .st-newsletter-btn,
.st-blue-color .st-btn.st-color2,
.st-blue-color .owl-dots button.active,
.st-blue-color .st-progressbar-in,
.st-blue-color .st-map-bar {
  background-color: #2a58ff;
}

.st-blue-color .st-map-bar:hover {
  background-color: rgba(42, 88, 255, 0.85);
}

.st-blue-color .st-btn.st-color2:hover {
  color: #fff;
}

.st-blue-color .owl-dots button,
.st-blue-color .st-owl-controler3 .owl-dots button,
.st-blue-color .st-client-carousel .owl-dots button,
.st-blue-color .st-seperator-left-bar,
.st-blue-color .st-seperator-right-bar {
  background-color: #666;
}

.st-blue-color .owl-dots button.active {
}

.st-blue-color .st-btn.st-color3 {
  color: #fff;
  background-color: #111;
}

.st-blue-color .st-price span,
.st-blue-color .st-contact-info.st-style1 ul li i {
  color: #b5b5b5;
}

.st-blue-color .st-testimonial-quote {
  color: rgba(42, 88, 255, 0.5);
}

.st-blue-color .st-subscribe-form input:focus,
.st-blue-color .st-contact-form input:focus,
.st-blue-color .st-contact-form textarea:focus {
  border-color: #2a58ff;
  outline: none;
}

.st-blue-color .st-map-marker-animation {
  -webkit-box-shadow: 0 0 16px 8px #2a58ff;
  box-shadow: 0 0 16px 8px #2a58ff;
}

.st-blue-color .st-project-meta h3 {
  color: #fff;
}

.st-blue-color .st-iconbox.st-style1 .st-iconbox-icon:before {
  background-image: url(../img/light-img/shap2.png);
  opacity: 0.7;
}

.st-blue-color .st-funfact-icon:before {
  background-image: url(../img/light-img/shap2.png);
}

.st-cta-wrap {
  position: relative;
  overflow: hidden;
}

.st-cta-wrap .row,
.st-cta-wrap .row > div {
  margin-bottom: 0;
  margin-top: 0;
}

.st-cta-wrap .container {
  position: relative;
  z-index: 2;
}

.shap1 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 12%;
  top: 5%;
  background: rgba(42, 88, 255, 0.05);
  -webkit-animation: animationFramesOne 15s alternate infinite linear;
  animation: animationFramesOne 15s alternate infinite linear;
}

.shap2 {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 2%;
  top: 45%;
  border: 8px solid #ebf5f7;
  -webkit-animation: animationFramesOne 20s alternate infinite linear;
  animation: animationFramesOne 20s alternate infinite linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.shap3 {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  left: 32%;
  top: 0%;
  background: rgba(223, 79, 252, 0.1);
  -webkit-animation: animationFramesOne 35s alternate infinite linear;
  animation: animationFramesOne 35s alternate infinite linear;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.shap4 {
  overflow: hidden;
  position: absolute;
  height: 54px;
  width: 50px;
  left: 75%;
  top: 0;
  border: 8px solid #d5f6f4;
  -webkit-animation: animationFramesOne 25s alternate infinite linear;
  animation: animationFramesOne 25s alternate infinite linear;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  border-top-color: transparent;
  border-left-color: transparent;
}

.shap4:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100px;
  background: #d5f6f4;
  -webkit-transform: rotate(-48deg);
  -ms-transform: rotate(-48deg);
  transform: rotate(-48deg);
  bottom: 20px;
  left: -23px;
}

.shap5 {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  left: 48%;
  top: 50%;
  background: rgba(226, 246, 225, 0.7);
  -webkit-animation: animationFramesOne 30s alternate infinite linear;
  animation: animationFramesOne 30s alternate infinite linear;
}

.shap6 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  left: 91%;
  top: 65%;
  background: rgba(42, 88, 255, 0.1);
  -webkit-animation: animationFramesOne 17s alternate infinite linear;
  animation: animationFramesOne 17s alternate infinite linear;
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.adj-top {
  margin-top: -115px;
}
.st-hero-text.st-style1 h1 {
  width: 550px;
}
@media screen and (max-width: 1199px) {
  .st-hero-text.st-style1 h1 {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .adj-top {
    margin-top: -95px;
  }
  .st-hero-text.st-style1 h1 {
    width: auto;
  }
}
@media screen and (max-width: 575px) {
  .adj-top {
    margin-top: -65px;
  }

  .st-hero-text.st-style1 h1 {
    font-size: 36px;
    margin-bottom: 10px;
    width: auto;
  }
}
.color-white h3 {
  color: #fff;
}
.st-logo-link img {
  width: 150px;
}

.st-hero-text.st-style1 h1 {
  width: 75%;
  display: inline-block;
}

/* Header  */

/*--------------------------------------------------------------
4. Header
----------------------------------------------------------------*/
.st-header {
  position: relative;
}

.st-header.st-sticky-menu {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.st-header.st-style1.st-other-page-header {
  background: #fff;
}

.st-header.st-style1 .st-main-header-in {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.st-header.st-sticky-menu.st-sticky-active {
  background: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.st-header.st-sticky-menu.st-sticky-active.st-color1 {
  background: #2a58ff;
}

.st-header.st-style1 .st-main-header {
  position: relative;
}

/*=== Logo Area ===*/
.st-site-title {
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

.st-site-title a {
  color: inherit;
}

/*End Logo Area*/

/*Horizontal Menu Area*/
.st-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.st-nav-wrap,
.st-desktop-nav.st-nav,
.st-desktop-nav .st-nav-list,
.st-desktop-nav .st-nav-list > li,
.st-desktop-nav .st-nav-list > li > a {
  height: 100%;
}

.st-solid-header .st-desktop-nav .st-nav-list > li > a {
  color: #666;
}

.st-solid-header .st-desktop-nav .st-nav-list > li > a.active {
  color: #2a58ff;
}

.st-header.st-color1 .st-desktop-nav .st-nav-list > li > a {
  color: rgba(255, 255, 255, 0.7);
}

.st-header.st-color1 .st-desktop-nav .st-nav-list > li > a.active {
  color: #fff;
}

.st-nav-list > li > a > i {
  color: #666;
  font-size: 12px;
  margin-right: 6px;
}

.st-nav.st-desktop-nav {
  display: block !important;
}

.st-desktop-nav .st-nav-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.st-desktop-nav .st-nav-list > li {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.st-desktop-nav .st-nav-list > li:first-child {
  margin-left: 0;
}

.st-desktop-nav .st-nav-list > li > a {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.st-nav-list > li > a {
  color: #5257a6;
  font-size: 14px;
  font-weight: 400;
}

.st-nav-label {
  color: #fff;
  font-size: 9px;
  font-weight: 500;
  line-height: 1.7em;
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
}

.st-nav-label.st-style1 {
  background: #de3618;
  position: relative;
  top: -6px;
  margin-left: 5px;
}

.st-nav-label.st-style2 {
  background-color: #50b83c;
  margin-left: auto;
}

/*=== Horizontal Dropdown ===*/
.st-has-children {
  position: relative;
}

.st-desktop-nav .st-nav-list > .st-has-children > a {
  position: relative;
  padding-right: 13px;
}

.st-desktop-nav .st-nav-list > li > a.active {
  color: #ff8a73;
}

.st-desktop-nav .st-nav-list .st-has-children > ul {
  list-style: none;
  position: absolute;
  width: 230px;
  background: #fff;
  left: 0;
  top: 100%;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: block !important;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.st-nav-list ul a {
  color: #666;
  padding: 7px 20px;
  display: block;
  font-size: 14px;
}

.st-desktop-nav .st-nav-list .st-sub-megamenu-list li a:hover {
  background: transparent;
}

.st-desktop-nav .st-nav-list ul a:hover,
.st-desktop-nav .st-nav-list .st-sub-megamenu-list li.active a {
  background-color: #f5f5f5;
}

.st-desktop-nav .st-nav-list .st-has-children > ul ul {
  left: 100%;
  top: 0;
}

.st-desktop-nav .st-has-children:hover > ul {
  opacity: 1;
  visibility: visible;
}

.st-nav-list ul .st-has-children > a {
  padding-right: 25px;
}

/*=== Hovizontal Mega Menu ===*/
.st-desktop-nav .st-megamenu {
  position: initial;
}

.st-desktop-nav .st-has-children .st-megamenu-in {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  max-width: 1170px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.st-desktop-nav .st-has-children:hover .st-megamenu-in {
  opacity: 1;
  visibility: visible;
}

.st-megamenu-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.65em;
  margin-bottom: 0;
}

.st-desktop-nav .st-megamenu-title {
  padding: 6px 20px;
}

.st-megamenu-list {
  padding: 0;
  list-style: none;
}

.st-megamenu.st-style1 .row {
  margin: 0;
}

.st-megamenu.st-style1 .container,
.st-megamenu.st-style1 .row > div {
  padding: 0;
}

.st-desktop-nav .st-nav-list .st-megamenu ul a {
  padding: 7px 20px;
}

.st-desktop-nav .st-megamenu-col {
  padding: 10px 0;
  border-right: 1px solid #eaeaea;
}

.st-desktop-nav .row > div:last-child > .st-megamenu-col {
  border-right: 0;
}

.st-solid-header {
  background: #fff;
}

.st-height-80 {
  height: 80px;
}

.st-height-70 {
  height: 70px;
}

.st-full-width .container {
  max-width: 100%;
  padding: 0 50px;
}

/*End Horizontal Mega menu*/

/*=== Horizontal Mobile Menu Style ===*/

.st-mobile-nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.st-mobile-nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-left: 15px;
}

.st-mobile-nav .st-nav-list ul {
  display: none;
}

.st-mobile-nav .st-nav-list > li > a {
  padding: 8px 0px;
  display: block;
}

.st-mobile-nav .st-nav-list ul a {
  padding-left: 0;
  padding-right: 0;
}

.st-sub-megamenu-in {
  display: none;
}

.st-sub-megamenu-in.active {
  display: block;
}

.st-nav.st-mobile-nav {
  max-height: calc(100vh - 80px);
  overflow: auto;
}

.st-mobile-nav .st-nav-list .st-megamenu-list {
  display: block;
}

.st-mobile-nav .st-megamenu-title {
  padding: 7px 15px;
}

.st-mobile-nav .st-nav-list .st-megamenu-list a {
  padding-left: 10px;
  padding-right: 10px;
}

.st-mobile-nav .st-megamenu-in {
  display: none;
}

.st-nav-toggle {
  display: none;
}

.st-mobile-nav .st-dropdown-btn {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 9px;
  cursor: pointer;
  z-index: 1;
}

.st-mobile-nav .st-dropdown-btn:before,
.st-mobile-nav .st-dropdown-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 8px;
  background-color: #666;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.st-mobile-nav .st-dropdown-btn:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.st-mobile-nav .st-dropdown-btn.st-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}

/*End Horizontal Mobile Menu*/

/*=== Mobile Menu Button ===*/
.st-nav-toggle.st-style1.st-active span:nth-child(1),
.st-nav-toggle.st-style1.st-active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.st-nav-toggle.st-style1.st-active span:nth-child(2),
.st-nav-toggle.st-style1.st-active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.st-nav-toggle.st-style1.st-active span:nth-child(1) {
  left: 2px;
  top: 4px;
}

.st-nav-toggle.st-style1.st-active span:nth-child(2) {
  left: calc(50% - 2px);
  top: 4px;
}

.st-nav-toggle.st-style1.st-active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.st-nav-toggle.st-style1.st-active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.st-nav-toggle.st-style1.st-active span:nth-child(5) {
  left: 2px;
  top: 11px;
}

.st-nav-toggle.st-style1.st-active span:nth-child(6) {
  left: calc(50% - 2px);
  top: 11px;
}

.st-nav-toggle.st-style1 {
  width: 22px;
  height: 14px;
  vertical-align: middle;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.st-nav-toggle.st-style1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #666;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.st-header.st-color1 .st-nav-toggle.st-style1 span {
  background: #fff;
}

.st-nav-toggle.st-style1 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.st-nav-toggle.st-style1 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.st-nav-toggle.st-style1 span:nth-child(1),
.st-nav-toggle.st-style1 span:nth-child(2) {
  top: 0px;
}

.st-nav-toggle.st-style1 span:nth-child(3),
.st-nav-toggle.st-style1 span:nth-child(4) {
  top: 6px;
}

.st-nav-toggle.st-style1 span:nth-child(5),
.st-nav-toggle.st-style1 span:nth-child(6) {
  top: 12px;
}

/*Ene Mobile Menu Button*/

/*=== Horizontal Menu Animation Efect ===*/
.st-fade-up .st-desktop-nav .st-nav-list .st-has-children > ul {
  margin-top: 5px;
}

.st-fade-up .st-desktop-nav .st-has-children:hover > ul {
  margin-top: -10px;
}

.st-fade-up .st-desktop-nav .st-has-children .st-megamenu-in {
  margin-top: 5px;
}

.st-fade-up .st-desktop-nav .st-has-children:hover .st-megamenu-in {
  margin-top: -10px;
}

.st-fade-down .st-desktop-nav .st-nav-list .st-has-children > ul {
  margin-top: -20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.st-fade-down .st-desktop-nav .st-has-children:hover > ul {
  margin-top: -10px;
}

.st-fade-down .st-desktop-nav .st-has-children .st-megamenu-in {
  margin-top: -20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.st-fade-down .st-desktop-nav .st-has-children:hover .st-megamenu-in {
  margin-top: -10px;
}

/*Ene Horizontal Menu Animation Effect*/

/*=== Menu Responsive Style ===*/
@media screen and (max-width: 991px) {
  .st-nav-toggle {
    display: block;
  }

  .st-nav.st-mobile-nav {
    display: none;
  }

  .st-header .container {
    max-width: 100%;
  }

  .st-mobile-nav {
    border-top: 1px solid #eaeaea;
  }

  .st-header.st-style2 .st-main-header-in {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/*End Menu Responsive*/

/*--------------------------------------------------------------
5. Hero Style
----------------------------------------------------------------*/
.st-hero-slide.st-style1 {
  height: 820px;
  background-color: #f9fbff;
  position: relative;
  overflow: hidden;
}

.st-hero-slide.st-style1.st-type2 {
  padding-bottom: 70px;
}

.st-hero-slide.st-style1 .container,
.st-hero-slide.st-style2 .container {
  margin: 0;
  position: relative;
  z-index: 2;
}

.st-hero-slide.st-style1 .container {
  z-index: 2;
}

.st-hero-slide.st-style1 .st-hero-img,
.st-hero-slide.st-style2 .st-hero-img {
  position: absolute;
  left: 62.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.st-hero-slide.st-style1 .st-hero-img img,
.st-hero-slide.st-style2 .st-hero-img img {
  -webkit-animation: 1.7s infinite alternate imageUpAnimation;
  animation: 1.7s infinite alternate imageUpAnimation;
}

.st-hero-text.st-style1 h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.st-hero-text.st-style1 h1 span {
  color: #ff8a73;
}

.st-hero-text.st-style1 b,
.st-hero-text.st-style1 i {
  font-weight: inherit;
  font-style: initial;
}

.st-hero-text.st-style1 .st-hero-subtitle {
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 40px;
  font-weight: 300;
}

.st-hero-text.st-style1 {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  z-index: 1;
}

.st-adjust-middle .st-hero-text.st-style1 {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  padding-top: 85px;
  z-index: 1;
}

.st-hero-slider1 .st-hero-text.st-style1 {
  position: relative;
  top: -100px;
  opacity: 0;
}

.owl-carousel.st-hero-slider1 .active .st-hero-text.st-style1 {
  top: 0px;
  opacity: 1;
}

.st-hero-slide.st-style1 .st-hero-img,
.st-hero-slide.st-style2 .st-hero-img {
  top: 54%;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.st-hero-slider1 .st-hero-slide.st-style1 .st-hero-img {
  top: 65%;
  opacity: 0;
}

.owl-carousel.st-hero-slider1 .active .st-hero-slide.st-style1 .st-hero-img {
  top: 50%;
  opacity: 1;
}

.st-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.st-pattern-animation-wrap {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 480px;
}

.st-pattern-animation {
  -webkit-animation: paternAnimation 5s alternate infinite linear;
  animation: paternAnimation 5s alternate infinite linear;
}

.st-hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
}

.st-overflow-hidden {
  overflow: hidden;
}

@-webkit-keyframes paternAnimation {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }

  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 4);
    transform: matrix(1, 0, 0, 1, -5, 4);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -9, 9);
    transform: matrix(1, 0, 0, 1, -9, 9);
  }

  75% {
    -webkit-transform: matrix(1, 0, 0, 1, 5, -4);
    transform: matrix(1, 0, 0, 1, 5, -4);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }
}

@keyframes paternAnimation {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }

  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 4);
    transform: matrix(1, 0, 0, 1, -5, 4);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -9, 9);
    transform: matrix(1, 0, 0, 1, -9, 9);
  }

  75% {
    -webkit-transform: matrix(1, 0, 0, 1, 5, -4);
    transform: matrix(1, 0, 0, 1, 5, -4);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, -1, -9);
    transform: matrix(1, 0, 0, 1, -1, -9);
  }
}

.st-video-btn-icon {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.tfvideo-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 13px;
  left: 13px;
}

.tfvideo-button span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  border-radius: 50%;
  -webkit-animation: tfvideo-animaion 2s linear infinite;
  animation: tfvideo-animaion 2s linear infinite;
  -webkit-box-shadow: 0 0 0 10px #2a58ff;
  box-shadow: 0 0 0 10px #2a58ff;
}

.tfvideo-button.st-color1 span {
  -webkit-box-shadow: 0 0 0 10px #ff8a73;
  box-shadow: 0 0 0 10px #ff8a73;
}

.tfabout-video img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes tfvideo-animaion {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes tfvideo-animaion {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

/*Style Two*/
/*Circle Animation*/
.st-circle {
  background-color: #fff;
  opacity: 0.031;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.st-circle-first {
  left: 2%;
  top: 2%;
  -webkit-animation: circleAnimation 13s alternate infinite linear;
  animation: circleAnimation 13s alternate infinite linear;
}

.st-circle-second {
  right: 10%;
  top: -3%;
  -webkit-animation: circleAnimation 18s alternate infinite linear;
  animation: circleAnimation 18s alternate infinite linear;
}

@-webkit-keyframes circleAnimation {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }

  40% {
    -webkit-transform: translate(40px, 0px);
    transform: translate(40px, 0px);
  }

  60% {
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }

  80% {
    -webkit-transform: translate(-10px, 40px);
    transform: translate(-10px, 40px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes circleAnimation {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }

  40% {
    -webkit-transform: translate(40px, 0px);
    transform: translate(40px, 0px);
  }

  60% {
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }

  80% {
    -webkit-transform: translate(-10px, 40px);
    transform: translate(-10px, 40px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

/*End Circle Animation*/
/*Wave Animation*/
.st-wave-wrap .st-wave-first .st-wave-in {
  -webkit-animation: move_wave 15s linear infinite;
  animation: move_wave 15s linear infinite;
}

.st-wave-wrap .st-wave-second .st-wave-in {
  -webkit-animation: move_wave 20s linear infinite;
  animation: move_wave 20s linear infinite;
  bottom: -35px;
}

.st-wave-wrap {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.st-wave {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: 0;
}

.st-wave-in {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0) scaleY(1);
  }

  50% {
    -webkit-transform: translateX(-25%) translateZ(0);
    transform: translateX(-25%) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(-50%) translateZ(0);
    transform: translateX(-50%) translateZ(0);
  }
}

/*End Wave Animaiton*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .st-desktop-nav .st-nav-list {
    display: none;
    padding-top: 40px;
  }
  .st-nav-wrap:hover .st-nav-list {
    display: inline-block;
  }
  .st-has-children {
    padding: 15px 0px 0px 30px;
  }
  .st-nav-toggle.st-style1 {
    top: 23px;
  }
  /* #block-id{
    margin-right: 50px;
  } */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .st-nav-toggle.st-style1 {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
